@model List<Gameo.Domain.Game>
@{
    ViewBag.Title = "AssignConsole";
}
<div class="container">
    @using (Html.BeginForm("Action", "Game", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.ValidationSummary(false)
        <div class="control-group pull-right">
            @if (Model.Count < 6)
            {
                <input class="btn btn-primary" type="submit" name="addCustomer" value="Add Customer" />
            }
            @if(Model.Count > 1)
            {
                <input class="btn-primary btn" type="submit" name="removeCustomer" value="Remove Customer"/>    
            }
        </div>
        <table class="table table-bordered table-condensed table-striped">
            <tr>
                <th>
                    Customer Name
                </th>
                <th>
                    Contact Number
                </th>
                <th>
                    In Time
                </th>
                <th>
                    Out Time
                </th>
                <th>
                    Gaming Console
                </th>
                <th>
                    Price
                </th>
                <th>
                    Package
                </th>
            </tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        @Html.TextBoxFor(model => model[i].CustomerName, new { @class = "input-medium" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model[i].CustomerContactNumber, new { @class = "input-medium" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model[i].InTime, new { @class = "input-medium time-picker" })
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model[i].OutTime, new { @class = "input-medium time-picker" })
                    </td>
                    <td>
                        @Html.DropDownList(string.Format("[{0}].ConsoleName", i), ViewBag.GamingConsoles as IEnumerable<SelectListItem>)
                    </td>
                    <td>
                        <div class="input-prepend input-append">
                            <span class="add-on">Rs.</span>
                            @Html.TextBoxFor(model => model[i].Price, new { @class = "span1" })
                        </div>
                    </td>
                    <td>
                        @Html.CheckBoxFor(model => model[i].IsPackage)
                    </td>
                </tr>
            }
        </table>
        <div class="form-actions pull-right">
            <button type="submit" class="btn btn-primary" name="assignConsole">
                Assign Consoles</button>
            <button type="reset" class="btn">
                Reset</button>
        </div>
    }
</div>
