@model MembershipDetaiRequestViewModel
@{
    ViewBag.Title = "MembershipDetail";
    Layout = "~/Views/Shared/_membership.cshtml";
}
<div class="container span10">
    @using (Html.BeginForm("MembershipDetail", "Membership", FormMethod.Post, new { @class = "form-search" }))
    {
        @Html.TextBoxFor(model => model.MembershipId, new { @class = "input-large search-query", placeholder = "Membership Id" })
        <span>(or) </span>
        @Html.TextBoxFor(model => model.Customer1ContactNumber, new { @class = "input-large search-query", placeholder = "Customer Contact Number" })

        <button type="submit" class="btn">
            Find</button>
    }
    @if (Model.Membership != null)
    {
        <div class="row span9">
            <div class="well">
                <p>
                    Membership Id : <b>@Model.Membership.MembershipId</b>
                </p>
                <p>
                    Customer1 Name : <b>@Model.Membership.Customer1Name</b>
                </p>
                <p>
                    Customer1 ContactNumber : <b>@Model.Membership.Customer1ContactNumber</b>
                </p>
                <p>
                    Customer2 Name : <b>@Model.Membership.Customer2Name</b>
                </p>
                <p>
                    Customer2 ContactNumber : <b>@Model.Membership.Customer2ContactNumber</b>
                </p>
                <p>
                    Remaining Hours : <b>@Model.Membership.RemainingHours</b>
                </p>
                <p>
                    Membership Expires On : <b>@Model.Membership.ExpiresOn.ToString("D")</b>
                </p>
                <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1">Recharges</a></li>
                        <li><a href="#tabs-2">Games</a></li>
                    </ul>
                    <div id="tabs-1">
                        @if (!Model.Membership.ReCharges.Any())
                        {
                            <span>No Recharges Found! </span>
                        }
                        else
                        {
                            <table class="table table-condensed">
                                <tr>
                                    <th>
                                        Recharged On
                                    </th>
                                    <th>
                                        Price
                                    </th>
                                    <th>
                                        Hours
                                    </th>
                                    <th>
                                        Branch Name
                                    </th>
                                </tr>
                                @foreach (var recharge in Model.Membership.ReCharges.OrderByDescending(recharge => recharge.RechargedOn))
                                {
                                    <tr>
                                        <td>@recharge.RechargedOn.ToString("D")
                                        </td>
                                        <td>
                                            @recharge.Price
                                        </td>
                                        <td>
                                            @recharge.Hours
                                        </td>
                                        <td>
                                            @recharge.BranchName
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                    <div id="tabs-2">
                        @if (!Model.Membership.Games.Any())
                        {
                            <span>No Games Found! </span>
                        }
                        else
                        {
                            <table class="table table-condensed">
                                <tr>
                                    <th>
                                        In time
                                    </th>
                                    <th>
                                        Out Time
                                    </th>
                                    <th>
                                        Customer Name
                                    </th>
                                    <th>
                                        Branch Name
                                    </th>
                                </tr>
                                @foreach (var game in Model.Membership.Games.OrderByDescending(g => g.InTime))
                                {
                                    <tr>
                                        <td>@game.InTime.ToShortDateString() - @game.InTime.ToShortTimeString()
                                        </td>
                                        <td>
                                            @game.OutTime.ToShortDateString() - @game.OutTime.ToShortTimeString()
                                        </td>
                                        <td>
                                            @game.CustomerName
                                        </td>
                                        <td>
                                            @game.BranchName
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>    
    }
    else if (!string.IsNullOrEmpty(Model.MembershipId) || !string.IsNullOrEmpty(Model.Customer1ContactNumber))
    {
        <div class="alert alert-info">
            <h4>
                No Membership information found!</h4>
        </div>
    }
</div>
